/* General styles */
:root {
  --primary: #333;
  --secondary: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffea;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

/* Header styles */
header {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  margin-right: 20px;
}

/* Navigation styles */
nav {
  background-color: #e6e6d3;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

/* About section styles */
section {
  scroll-margin-top: 100px;
}
#about {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about h2 {
  margin-top: 0;
  align-self: flex-start;
}

#about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#about p {
  text-align: left;
  line-height: 1.5;
}

/* Work section styles */
#work {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery a {
  flex: 0 0 calc(33.33% - 20px);
  text-decoration: none;
}

/* Make the first child take up the larger size */
.gallery a:first-child {
  flex: 0 0 calc(70% - 20px);
  align-self: center;
}

.gallery img {
  width: 100%;
  height: 200px;
}

/* Footer styles */
footer {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

/* Contact Me */
#contact-me {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#contact-me h2 {
  margin: 0;
  margin-right: 20px;
}

#contact-me ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

/* Social Links */
#social-links {
  display: flex;
  align-items: center;
}

#social-links li {
  margin-left: 10px;
  list-style-type: none;
}

#social-links img {
  width: 48px;
  height: 48px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide */
  .gallery a {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens up to 480px wide */
  .gallery a,
  .gallery a:first-child {
    flex: 0 0 100%;
  }
}
